.dart_tool/
build/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/local.properties
android/java_pid*
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
macos/Flutter/ephemeral/
backend/node_modules/
backend/.env
backend/.env.*